@model Visit

<h1>Edit visit</h1>

<form asp-action="Edit"  asp-controller="Visit" method="post">
	<label asp-for="DoctorNotes">Doctor Notes</label>
	<input asp-for="DoctorNotes" type="text" placeholder="Name" />
	<span asp-validation-for="DoctorNotes" class="text-danger"></span>
	<br />
	<br />
	<label asp-for="DoctorID">Doctor</label>
	<select asp-for="DoctorID" asp-items="ViewBag.DoctorID"></select>
	<br />
	<br />
	<label asp-for="PatientID">Patient</label>
	<select asp-for="PatientID" asp-items="ViewBag.PatientID"></select>
	<br />
	<br />
	<button>Update</button>
	<a asp-action="Index" asp-controller="Visit">Back to visits</a>
</form>