@{
    ViewData["Title"] = "Home";
}


<img src="/vector_logo.png" class="mx-auto d-block" />

<div class="text-center">
    <h1 class="display-4">Hospital Management System</h1>
    <p>Welcome to Vector's Hospital Management System. This application allows you to create, read, update, and delete doctors, patients and visits</p>
</div>
